*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 56px;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.horizontal-bottom {
  width: 12rem;
  height: 2px;
  background-color: #ddd;
  margin: 0 auto;
}

img {
  width: 100%;
}

@media (max-width: 56em) {
  .navbar {
    flex-direction: column;
    gap: 3rem;
  }

  .grid-cols-4 {
    grid-template-columns: 1fr 1fr;
  }

  .section-number {
    padding: 3rem 2rem !important;
  }
}
@media (max-width: 38em) {
  .navbar__navigation .navbar--links {
    flex-direction: column;
  }

  .grid-cols-4 {
    grid-template-columns: 1fr;
  }

  .section-number {
    background-color: rebeccapurple;
    background-image: none !important;
  }
}
.header {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 85vh;
  position: relative;
  text-align: center;
}
.header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.header__text--highlight {
  font-size: 8.2rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
}
.header .heading__text {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border: 4px solid #fff;
}
.header .heading__text--main {
  display: block;
  font-size: 3.2rem;
  font-weight: 500;
}
.header .heading__text--sub {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar__navigation .navbar--links {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}
.navbar__navigation .navbar--links .navbar--link {
  font-size: 2.2rem;
  color: #777;
  cursor: pointer;
}
.navbar__social-links .social-link {
  font-size: 20px;
  padding: 0 5px;
  margin: 0 2px;
  cursor: pointer;
  color: #777;
}

.about__title {
  font-size: 4.4rem;
}
.about__title--color {
  color: #578491;
}
.about__para {
  font-size: 1.8rem;
  margin: 4.4rem 0 2.2rem;
  color: #777;
}

.details-box {
  color: #fff;
  text-align: center;
  padding: 1.8rem;
}
.details-box .social-icon {
  font-size: 5.6rem;
  padding: 2rem;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.details-box .details-title {
  font-size: 1.8rem;
  color: #f7f7f7;
  margin-bottom: 1.2rem;
}
.details-box .details-description {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.details-box .details-btn {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
}

.number-box {
  display: flex;
  gap: 2.2rem;
  align-items: center;
  color: #fff;
}
.number-box .number-icon {
  font-size: 6.2rem;
}
.number-box .number-details .number {
  font-size: 4.2rem;
  font-weight: 700;
}
.number-box .number-details .number-greet {
  font-size: 2.2rem;
}

.section-navbar {
  border-bottom: 1px solid #ddd;
}

.section-about {
  text-align: center;
  padding: 9.6rem 0 0;
}

.section-details {
  padding: 9.6rem 0;
  background-image: linear-gradient(to right bottom, #578491, rgba(87, 132, 145, 0.5));
}

.section-number {
  padding: 9.6rem 0;
  background-image: url("../../img/number-bg.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=styles.css.map */
