.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &__logo--container {

    }

    &__navigation {
        .navbar--links {
            list-style: none;
            display: flex;
            gap: 3.2rem;
            justify-content: center;
            align-items: center;

            .navbar--link {
                font-size: 2.2rem;
                color: #777;
                cursor: pointer;
            }   
        }
    }

    &__social-links {
        .social-link {
            font-size: 20px;
            padding: 0 5px;
            margin: 0 2px;
            cursor: pointer;
            color: #777;
        }
    }
}