.portfolio {
    .portfolio-desc {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .portfolio-navigation {

        .portfolio-links {
            list-style-type: none;
            display: flex;
            justify-content: center;

            .portfolio-link {
                padding: 1.2rem 2.2rem;
                font-size: 1.8rem;
                text-transform: uppercase;
                color: #777;
                cursor: pointer;
                &.active {
                    border: .2rem solid green;
                }
            }
        }
    }

    .grid {
        gap: 3.6rem
    }

    .gallery {
        padding: 3.2rem 2.2rem;
    }
}