.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 56px;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.horizontal-bottom {
    width: 12rem;
    height: 2px;
    background-color: #ddd;
    margin: 0 auto;
}

img {
    width: 100%;
}