@media (max-width: 56em) {
    .navbar {
        flex-direction: column;
        gap: 3rem
    }
    .grid-cols-4 {
        grid-template-columns: 1fr 1fr;
    }
    
    .section-number {
        padding: 3rem 2rem !important;
    }

    .logo-container {
        .client-logo {
            height: 2.2rem !important;
        }
    }
    .section-team {
        clip-path: none !important;
        padding: 2.4rem 0 4.4rem !important;
        .grid {
            gap: 2.2rem !important
        }
    }

}


@media (max-width: 38em) {
    .navbar {
        &__navigation {
            .navbar--links {
                flex-direction: column;
            }
        }        
    }
    .grid-cols-3 {
        grid-template-columns: 1fr;
    }
    .grid-cols-4 {
        grid-template-columns: 1fr;
    }

    
    .section-number {
       background-color: rebeccapurple;
       background-image: none !important;
    }
    
    .section-clients {
        padding: 5.6rem 0 !important;
    }

    .logo-container {
        .client-logo {
            height: 1.2rem !important;
        }
    }
}

