@media (max-width: 56em) {
    .navbar {
        flex-direction: column;
        gap: 3rem
    }
    .grid-cols-4 {
        grid-template-columns: 1fr 1fr;
    }
    
    .section-number {
        padding: 3rem 2rem !important;
    }
}


@media (max-width: 38em) {
    .navbar {
        &__navigation {
            .navbar--links {
                flex-direction: column;
            }
        }        
    }
    .grid-cols-4 {
        grid-template-columns: 1fr;
    }

    
    .section-number {
       background-color: rebeccapurple;
       background-image: none !important;
    }
}

