.section-navbar {
    border-bottom: 1px solid #ddd;
}

.section-about {
    text-align: center;
    padding: 9.6rem 0 0;
}

.section-details {
    padding: 9.6rem 0;
    background-image: linear-gradient(to right bottom, $primary-color, rgba($primary-color, .5));
}

.section-number {
    padding: 9.6rem 0;
    background-image: url('../../img/number-bg.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.section-clients {
    padding: 9.6rem 0;
    text-align: center;
}

.section-team {
    padding: 9.6rem 0;
    background-color: rgb(219, 219, 219);
    clip-path: polygon(0 10%, 50% 10%, 52% 0%, 55% 10%, 100% 10%, 100% 100%, 0% 100%);
}

.section-portfolio {
    padding: 9.6rem 0;
}